
<h1>会員一覧</h1>
<table class='tabel'>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, admin_customer %></td>
        <td><%= customer.email %></td>
        <!--会員ステータス部分　enumを後で実装-->
        <td>
          <% if customer.is_deleted == false %>
            有効
          <% else %>
            退会
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @customers %>

