<mark class="h4 bg-light ml-5">ジャンル編集</mark>
<div class="container my-4">
  <div class="row">
    <div class="col-6">
      <%= form_with model: [:admin, @genre], local: true do |f| %>
      <table class="col-sm-9 col-lg-12">
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th><%= f.text_field :name %></th>
            <th><%=f.submit "変更を保存", class:"btn btn-success" %></th>
          </tr>
        </thead>
      </table>
      <% end %>
    </div>
  </div>
</div>
