<div class="container mw-100 mh-100" style="height:200px;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <div class="d-flex align-items-center mx-5 my-5 px-5 py-5">
        <h2 class="ml-5">ご注文ありがとうございました!</h2>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
