<div class="container">
  <div class="row">
    <div class="">
      <h2>注文情報確認</h2>
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag cart_item.image, size: "50x50" %>
                <%= cart_item.name %>
              </td>

            </tr>
          </tbody>
        <% end %>
      </table>

      <div class="">
        支払方法
        <%= @order.payment_method_i18n %>
      </div>
      <div class="">
        お届け先
        <%= @order.address_display %>
      </div>
    </div>
  </div>
</div>